<div style="padding-left: 10%; padding-right: 10%; padding-top: 10px; ">
	
	{% for file_data in coder_profiles %}

		{% set coder_name = file_data['meta']['name'][0] %}
        {% set coder_info = file_data['meta']['info'][0] %}
        {% set coder_died = file_data['meta']['died'][0] %}
        {% set coder_text = file_data['html'] %}
        {% set coder_slug = file_data['slug'] %}

        <div><<a href="{{path}}profile/{{coder_slug}}#info">{{ coder_name }}</a>/> 
        	{{ coder_info }},
        	died {{ coder_died }}</div>
	{% endfor %}
</div>